<nav style="background-color: black;">  
<ul class="nav" color= dark >
  <li class="nav-item">
    <a class="nav-link active" href="#">node</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/categorias">categorias</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">registro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">aham</a>
  </li>
    
</ul>
</nav>